/* src/App.css */

/* Variáveis de cor globais */
:root {
  --casa-clara: #e6e6e6;
  --casa-escura: #7c7c7c;
  --cor-borda: #4d4d4d;
}

/* Estilos de layout da página inteira */
.jogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
}